# Git
.git
.gitignore

# Docker
.docker

# Python
backend/app/__pycache__/
backend/app/*/__pycache__/
backend/app/*/*/__pycache__/
backend/app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Vue
frontend/app/node_modules/
frontend/app/dist/
